<div class="contact-main"> 
  <img alt="Open" class="icon-menu" src="https://goo.gl/Qm4G1Q" width="24px" /> 
  <div class="content container"> 
    <h1>Thanks. We'll be in touch.</h1> 
  </div> 
</div>